src/main/mule/mit-jenkins-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b4b3d177-b2a2-4fd6-86e8-dafca636b2a4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mit-jenkins-demoFlow" doc:id="910952ed-9b0b-4ca5-a8f7-cfed51118a5c" >
		<http:listener doc:name="Listener" doc:id="01bef9ee-270a-4cd2-b2f3-baae1d4df6fd" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello-World"]' doc:name="Set Payload" doc:id="c02ee32e-1f2e-4326-969e-58e7bc892d24" />
	</flow>
</mule>
